# Python Virtual Environment
venv/
.venv/
__pycache__/
*.pyc

# Node.js Dependencies
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# Databases & local configurations
*.sqlite3
.env

# IDE / System files
.vscode/
.DS_Store
Thumbs.db